<html>
<head>
<title>CS485_asgn1</title>
<style>
* { font-family: verdana; font-size: 10pt; COLOR: gray; }
b { font-weight: bold; }
table { border: 1px solid gray;}
td { text-align: center; padding: 25;}
</style>
<link rel="stylesheet" href="./css/themes/bg.css">
<!--<link rel="stylesheet" href="./css/themes/oneui.css">-->
<link rel="stylesheet" href="./css/boot/css/bootstrap.min.css">
</head>
	<body>

	
	
	<a class="btn btn-primary btn-xs" href="./index.html" role="button">member</a>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="./css/boot/js/bootstrap.min.js"></script>
	</body>
</html>