html
  head
    title CS485_asgn1
    link(rel='stylesheet', href='./css/themes/bg.css')
    link(rel='stylesheet', href='./css/oneui.css')
    link(rel='stylesheet', href='./css/boot/css/bootstrap.min.css')
  body
    br
    .js-chat-container.content.content-narrow(data-chat-mode='fixed', data-chat-height='400')
      .col-xs-8.col-xs-offset-2
        .block
          .block
            .bg-image(style="background-image: url('./img/bg-chat.jpg');")
              .block-content.block-content-full.bg-black-op.text-center
                h3.h4
                  span.text-white My Chat 0.0.1
                h3.h4#username
            .js-chat-talk.overflow-y-auto.block-content.block-content-full(data-chat-id='1')
              // Messages
              //.font-s12.text-muted.text-center.push-20-t.push-15
              //  em Yesterday
              //.block.block-rounded.block-transparent.push-15.push-50-l
              //  .block-content.block-content-full.block-content-mini.bg-gray-lighter Hi there!
              //.font-s12.text-muted.text-center.push-20-t.push-10
              //  em Today
              //.block.block-rounded.block-transparent.push-15.push-50-r
              //  .block-content.block-content-full.block-content-mini.bg-gray-light Hi!!!
              // END Messages
            .js-chat-form.block-content.block-content-full.block-content-mini
              form#chat-form
                input.js-chat-input.form-control(id='chat-text', type='text', data-target-chat-id='1', placeholder='พิมข้อความและกด Enter เพื่อส่งข้อความ')
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='./css/boot/js/bootstrap.min.js')
    script(src='https://cdn-orig.socket.io/socket.io-1.7.3.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-placeholder/2.3.1/jquery.placeholder.min.js')
    script(src='./js/base_ui_chat.js')
    script(src='./js/chat_page.js')   