
body{
  background-image: url("http://media.istockphoto.com/photos/blue-gradient-blurred-abstract-background-picture-id523159398?k=6&m=523159398&s=170667a&w=0&h=QaH57rXTcu6XUsgfl7XGgmBaz2Vbz0AKaHgC2T50hsI=");
  -webkit-background-size: cover;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  
}
    
